<div class="row">
    <md-input-container class="dropdownWidth">
        <label>What's in your mind?</label>
        <md-select ng-model="profile.activity" ng-change="profile.loadChanges()">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="activity in profile.activities" ng-value="activity">
                {{activity.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div class="row">
    <leaflet width="100%" height="400px"></leaflet>
    <div id="map"></div>
</div>